<?xml version='1.0' encoding='windows-1252'?>
<!-- SPDX-FileCopyrightText: 2026 Marcus Baw and Baw Medical Ltd -->
<!-- SPDX-License-Identifier: AGPL-3.0-or-later -->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Fragment>
        <DirectoryRef Id='APPLICATIONFOLDER'>
            <Component Id='License' Guid='*'>
                <File Id='LicenseFile' Name='LICENSE' DiskId='1' Source='..\LICENSE' KeyPath='yes'/>
            </Component>
            <Component Id='ThirdPartyNotices' Guid='*'>
                <File Id='ThirdPartyNoticesFile' Name='third-party-notices.md' DiskId='1' Source='..\third-party-notices.md' KeyPath='yes'/>
            </Component>
            <Directory Id='LicensesFolder' Name='LICENSES'>
                <Component Id='AgplLicense' Guid='*'>
                    <File Id='AgplLicenseFile' Name='AGPL-3.0-or-later.txt' DiskId='1' Source='..\LICENSES\AGPL-3.0-or-later.txt' KeyPath='yes'/>
                </Component>
                <Component Id='ApacheLicense' Guid='*'>
                    <File Id='ApacheLicenseFile' Name='Apache-2.0.txt' DiskId='1' Source='..\LICENSES\Apache-2.0.txt' KeyPath='yes'/>
                </Component>
                <Component Id='ContentLicense' Guid='*'>
                    <File Id='ContentLicenseFile' Name='CC-BY-SA-4.0.txt' DiskId='1' Source='..\LICENSES\CC-BY-SA-4.0.txt' KeyPath='yes'/>
                </Component>
                <Component Id='LgplLicense' Guid='*'>
                    <File Id='LgplLicenseFile' Name='LGPL-3.0-or-later.txt' DiskId='1' Source='..\LICENSES\LGPL-3.0-or-later.txt' KeyPath='yes'/>
                </Component>
                <Component Id='MitLicense' Guid='*'>
                    <File Id='MitLicenseFile' Name='MIT.txt' DiskId='1' Source='..\LICENSES\MIT.txt' KeyPath='yes'/>
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <FeatureRef Id='Binaries'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='ThirdPartyNotices'/>
            <ComponentRef Id='AgplLicense'/>
            <ComponentRef Id='ApacheLicense'/>
            <ComponentRef Id='ContentLicense'/>
            <ComponentRef Id='LgplLicense'/>
            <ComponentRef Id='MitLicense'/>
        </FeatureRef>
    </Fragment>
</Wix>
